@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vh;
  background-image: url("../public/bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
